*{
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

header{
    background-color: #023047;
    padding-left: 80px;
    padding-right: 80px;
}

.main-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation > ul > li{
    display: inline-block;
    margin: 0 20px;
}


.menu > li > a{
    font-size: 20px;
    color: #eee;
}

#destinations-nav{
    font-size: 20px;
    color: #eee;
}

#logo{
    color: #eee;
}

/* Dropdowns */

.menu{
    list-style: none;
}

.menu > li > a:hover{
    color: #219EBC;;
}

.dropdown{
    position: relative;
}

#destinations:hover{
    color: #219EBC;
}



.continent{
    text-decoration: none;
    color: #eee;
    font-size: 17px;
}

.continent:hover{
    color: #219EBC;;
}


.dropdown-menu{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px 0;
    margin: 0;
}

.dropdown:hover .dropdown-menu{
    display: block;
    background-color: #023047;
    width: 200px;
}

.dropdown-menu li {
    padding: 15px 20px;
}

.menu > li.dropdown:hover > a {
    color: #219EBC;; 
}

.continent{
    display: block;
    width: 100%;
    height: 100%;
}

.adventure-type{
    display: block;
    width: 100%;
    height: 100%;
    color: #eee;
    font-size: 17px;
}

.dropdown-menu > li:hover > .adventure-type{
    color: #3498DB;;
}

#about{
    color: #219EBC;
}


.top-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
    background-color: #053750;
    color: #fff;
    background-image: linear-gradient(rgba(3, 49, 71, 0.8), rgba(3, 49, 71, 0.8)), url('../images/worldMap.jpg');
    background-size: cover;
    background-position: center;
}
.top-about h1{
    font-size: 50px;
    margin: 0px;
}

.top-about p{
    width: 50%;
    font-size: 15px;
    margin: 10px 0 30px 0;
}

.top-about button{
    background-color: rgb(29, 29, 29);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: transform 0.25s ease;
}

.top-about button:hover{
    transform: scale(1.05);
}

.top-about button a{
    color: #fff;
    font-size: 20px;

}   

.about-image {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.about-team {
    max-width: 100%;
}

.about-section{
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.about-card h2{
    text-align: center;
    color: #023047;
    margin-bottom: 40px;
    font-size: 40px;
}

.team-cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.team-card{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-card h3{
    font-size: 22px;
    margin: 10px 0 5px 0;
    color: #023047;
}

.team-card p{
    font-size: 16px;
    color: #555;
}

.team-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s, box-shadow 0.3s;
}

footer {
  background-color: #023047;
  color: white;
  padding: 30px 20px;
  margin-top: 70px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer ul li a {
  color: #dbeafe;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}


footer p {
  font-size: 14px;
  margin: 4px 0;
  color: #dbeafe;
}
